@font-face {
  font-family: 'iconfont';
  src:  url('fonts/iconfont.eot?qhafbu');
  src:  url('fonts/iconfont.eot?qhafbu#iefix') format('embedded-opentype'),
    url('fonts/iconfont.ttf?qhafbu') format('truetype'),
    url('fonts/iconfont.woff?qhafbu') format('woff'),
    url('fonts/iconfont.svg?qhafbu#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-telegram:before {
  content: "\e900";
}
.icon-about:before {
  content: "\e901";
}
.icon-x:before {
  content: "\78";
}
.icon-diandian:before {
  content: "\e63a";
}
.icon-huaban:before {
  content: "\e63c";
}
.icon-code-fork:before {
  content: "\e67a";
}
.icon-more:before {
  content: "\e6c0";
}
.icon-zhihu:before {
  content: "\e6d1";
}
.icon-linkedin:before {
  content: "\e724";
}
.icon-eye-fill:before {
  content: "\e64f";
}
.icon-stackexchange:before {
  content: "\e8b2";
}
.icon-tag:before {
  content: "\e6a3";
}
.icon-starfish:before {
  content: "\e62e";
}
.icon-home:before {
  content: "\e660";
}
.icon-search:before {
  content: "\e61c";
}
.icon-project:before {
  content: "\e63e";
}
.icon-dialog:before {
  content: "\e613";
}
.icon-twitter:before {
  content: "\ec9c";
}
.icon-github:before {
  content: "\e70a";
}
.icon-time:before {
  content: "\e669";
}
.icon-voice:before {
  content: "\e65a";
}
.icon-google:before {
  content: "\e601";
}
.icon-weibo:before {
  content: "\e64b";
}
.icon-segmentfault:before {
  content: "\e610";
}
.icon-star-fill:before {
  content: "\e630";
}
.icon-phone:before {
  content: "\e68a";
}
.icon-cup-fill:before {
  content: "\e614";
}
.icon-jiaju:before {
  content: "\e671";
}
.icon-qzone:before {
  content: "\e603";
}
.icon-home-fill:before {
  content: "\e617";
}
.icon-clock:before {
  content: "\e618";
}
.icon-file:before {
  content: "\e66f";
}
.icon-comment:before {
  content: "\e61a";
}
.icon-cup:before {
  content: "\e62c";
}
.icon-share:before {
  content: "\e66a";
}
.icon-star-half:before {
  content: "\e62f";
}
.icon-star:before {
  content: "\e619";
}
.icon-tencent-weibo:before {
  content: "\e602";
}
.icon-book:before {
  content: "\e79d";
}
.icon-bitbucket:before {
  content: "\e64e";
}
.icon-facebook:before {
  content: "\e6e3";
}
.icon-email:before {
  content: "\e667";
}
.icon-zcool:before {
  content: "\e60c";
}
.icon-social-media:before {
  content: "\e68b";
}
.icon-douban:before {
  content: "\e60f";
}
.icon-coding:before {
  content: "\e600";
}
.icon-github-fill:before {
  content: "\e71d";
}
.icon-qq:before {
  content: "\e611";
}
.icon-shu-fill:before {
  content: "\e615";
}
.icon-pinterest:before {
  content: "\e697";
}
.icon-tags:before {
  content: "\e6c4";
}
.icon-bill:before {
  content: "\e61b";
}
.icon-shu:before {
  content: "\e616";
}
.icon-book-shelf:before {
  content: "\e60d";
}
.icon-target:before {
  content: "\e695";
}
.icon-profile:before {
  content: "\e6e2";
}
.icon-alipay:before {
  content: "\e938";
}
.icon-skype:before {
  content: "\e604";
}
.icon-juejin:before {
  content: "\e605";
}
.icon-code:before {
  content: "\e73f";
}
.icon-list:before {
  content: "\e61e";
}
.icon-map-marker:before {
  content: "\e609";
}
.icon-stackoverflow:before {
  content: "\e606";
}
.icon-hourglass:before {
  content: "\e60e";
}
.icon-behance:before {
  content: "\e67b";
}
.icon-folder-open:before {
  content: "\e6b4";
}
.icon-folder:before {
  content: "\e60a";
}
.icon-menu:before {
  content: "\e607";
}
.icon-users:before {
  content: "\e60b";
}
.icon-eye:before {
  content: "\e657";
}
.icon-wechat:before {
  content: "\e65e";
}
.icon-number:before {
  content: "\e658";
}
.icon-gitlab:before {
  content: "\e67c";
}
.icon-rss:before {
  content: "\e63d";
}
.icon-archives:before {
  content: "\e62d";
}
.icon-68design:before {
  content: "\e608";
}
.icon-dribble:before {
  content: "\e982";
}
.icon-wepay:before {
  content: "\e629";
}
.icon-youdao-note:before {
  content: "\e8a6";
}
.icon-book-fill:before {
  content: "\e659";
}
.icon-hezuo:before {
  content: "\e6e5";
}
.icon-link:before {
  content: "\e635";
}
.icon-archives-fill:before {
  content: "\e694";
}
.icon-anchor:before {
  content: "\e858";
}
.icon-angle-down:before {
  content: "\e85e";
}
.icon-angle-left:before {
  content: "\e85f";
}
.icon-angle-up:before {
  content: "\e860";
}
.icon-angle-right:before {
  content: "\e862";
}
.icon-calendar:before {
  content: "\e895";
}
.icon-calendar-check:before {
  content: "\e896";
}
.icon-calendar-minus:before {
  content: "\e897";
}
.icon-calendar-plus:before {
  content: "\e899";
}
.icon-calendar-times:before {
  content: "\e89a";
}
.icon-close:before {
  content: "\e8c4";
}
.icon-delicious:before {
  content: "\e8e2";
}
.icon-plus:before {
  content: "\e99d";
}
.icon-gg:before {
  content: "\e6fd";
}
.icon-friendship:before {
  content: "\e612";
}
.icon-gitee:before {
  content: "\e61d";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-play:before {
  content: "\e912";
}
.icon-equalizer2:before {
  content: "\e993";
}
.icon-cog:before {
  content: "\e994";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-npm:before {
  content: "\eab1";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
.icon-windows8:before {
  content: "\eac2";
}
.icon-git:before {
  content: "\eae7";
}
